.left-block {
  width: 17em;
  float: left;
  height: 100%;
}

.right-block {
  margin-left: 5em;
  float:right;

}

#footer {
  clear: both;
}

.ui-panel-inner {padding: 0em 1em 0em 1em; }
/*.ui-collapsible-heading-toggle {

  font-family: 'Roboto', sans-serif;
  font-weight: 300 !important;
  color: white !important;
}
.reading_menu_options {
  font-family: 'Martel', sans-serif;
  font-weight: 300 !important;
  color: white !important;
}*/

.ui-btn {
  font-family: 'Martel', sans-serif;
  font-weight: 300 !important;
  font-size: 1em;
}



#window {
	width: 350px;
	height: 200px;
	float:left;
	overflow:hidden;
	padding: 10px;
	border: 1px solid #000;
	margin-top: 10px;
}

#scrollPassage {
	position:relative;
	top:198px;
}
