#footer {
  clear: both;
}

.ui-panel-inner {padding: 0em 1em 0em 1em; }
/*.ui-collapsible-heading-toggle {

  font-family: 'Roboto', sans-serif;
  font-weight: 300 !important;
  color: white !important;
}
.reading_menu_options {
  font-family: 'Martel', sans-serif;
  font-weight: 300 !important;
  color: white !important;
}*/

.ui-btn {
  font-family: 'Martel', sans-serif;
  font-weight: 300 !important;
  font-size: 1em;
}
