body {
  background-color: rgb(62, 149, 240);
}
h1 {
  font-family: "Martel Sans";

}

#header {
  position: fixed;
  top: 0px;
}

#header .editable-passage {
  padding: 0em .5em;
}
#main {
  padding: 1em;
  margin-top: 3em;
}

.editable-chunk {

}
.label {

  font-size: 1.5em;
  font-family: "Martel Sans";
  margin-top: .3em;
  /*font-variant: small-caps;*/

}

.indent {
  margin-left:2em;
}

.editable, .editable-passage {

  font-family: "Martel Sans";
  background-color: white;
  border: dotted grey 2px;
  padding: .5em;
}

.editable-box {
padding: 1em;
  margin-bottom: 1.5em;
  background-color: rgb(245,245,245);
  box-shadow: 2px 2px 15px rgba(0,0,0,0.5);

}

.question-box {
  padding: 1em;
  border: 3px solid rgb(62, 149, 240);
/*background-color: rgb(167, 206, 246);*/
}
#save_dialog {
  position: fixed;
  bottom: 0px;
  right: 0px;
  min-width:17em;
  background-color: yellow;
  padding: 1em;
  display: none;
  text-align: center;
  line-height: 1em;
  font-size:1em;
  font-family: "Martel Sans";
}
.button {
  float: left;
  margin-left: 1em;
  color: white;
  background-color: rgb(62, 149, 240);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  cursor: pointer;
  font-size: 1em;
  line-height:1.5em;
  font-family: "Martel Sans";
  padding: 0em .5em;
  border-radius: 1px;
  position: relative;
  top: .3em;
}
.button:hover {
  background-color:white;
  color: rgb(62, 149, 240);

}
/*#save {


}
#save:hover {
  color:white;
  background-color: rgb(240, 30, 62);
}

#new_question {

}*/
@media ( min-width: 640px) {

}
